
* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  font-family: 'Barlow', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.metronome-wrapper {
  display: flex;
  flex-direction: column;
  background-color: gray;
  justify-content: center;
  text-align: center;
  padding: 5rem;
  border-radius: 5px;
}

h1 {
  font-size: 10rem;
  color: white;
  text-shadow: 14px 12px 20px rgba(0, 0, 0, .5);
}

.accent-display {
  margin-bottom: 80px;
  text-shadow: 14px 12px 20px rgba(0, 0, 0, .5);
}

.tempo-button-container {
  display: flex;
  justify-content: space-between;
}

#tempo, .play-pause, #timeSignature, #pitch {
  padding: 0.7em 1.4em;
  margin:0 0.25em 0.5em 0.25em;
  border-radius:5px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size: 2rem;
  color: white;
  background-color:salmon;
  text-align:center;
  height: 5rem;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.1s all;
  text-shadow: 7px 6px 12px rgba(0, 0, 0, .5);
}
button:active {
  transform: scale(0.95);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

#volume {
  width: 100%;
  margin: 0.25px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
#volume::-webkit-slider-runnable-track {
  background: #fa8072;
  border: 0;
  border-radius: 4.9px;
  width: 100%;
  height: 5rem;
  cursor: pointer;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}
#volume::-webkit-slider-thumb {
  margin-top: .5rem;
  width: 20px;
  height: 4rem;
  background: whitesmoke;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 7px 6px 14px 1px rgba(0, 0, 0, 0.34);
}

.time-signature-button-container {
  display: flex;
}

@media all and (max-width:1000px){
  .App {
    margin-top: 0;
  }

  .metronome-wrapper {
    width: auto;
    height: 100vh;
  }

  h1 {
    font-size: 50vw;
  }
  .accent-display {
    font-size: 3rem;
  }

  #tempo, .play-pause, #timeSignature {
    padding: 0.25em .35em;
    height: 10rem;
    font-size: 4rem;
  }
}

